* {
  --primary-font-color: #212121;
  --negative-title-color: #FFFCFC;
  --primary: #26B24D;
  --secondary: #3D5A98;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #fff;
}

/* Index.html */

.header-logo-link {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.header-logo {
  max-width: 30%;
  height: auto;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 0; /* Adjust the padding to reduce the gap */
}

.title {
  text-align: center;
  font-size: 45px;
  font-weight: 500;
  color: var(--negative-title-color);
}

.nav-img {
  display: block;
  max-width: 150px;
  margin-bottom: 1px;
}

.nav-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-decoration: none;
  width: 100%;
  max-width: 1440px;
}


.nav-list {
  display: flex;
  text-decoration: none;
  gap: 2rem;
}

.nav-item {
  color: var(--primary-font-color);
  text-decoration: none;
}

.nav-item:hover {
  text-decoration: none;
  color: #39e169;
}

#about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 56px 101px 81px 16px;
}

.about-content {
  max-width: 540px;
  order: 2;
}

.coffee-bag {
  margin-right: 20px;
  margin-left: 100px;
}

.about-title {
  color: var(--primary);
  font-size: 50px;
  font-weight: 600;
  line-height: 66px;
  margin-bottom: 20px;
  color: black;
}

.about-text {
  color: var(--primary-font-color);
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 29px;
  text-align: left;
}

.about-buttons-row {
  display: flex;
  text-decoration: none;
  order: 1;
}

.custom-button {
  display: flex;
  width: 174px;
  padding: 13px 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
  background: #26B24D;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.custom-button:hover {
  opacity: .8;
  transition: all 0.3s ease;
}

.logo {
  max-width: 5%;
  height: auto;
  margin-bottom: 21px;
}

#background-section {
  background-size: cover;
  background-position: left 40px center;
  height: 80vh;
  display: flex;
  align-items: center;
  color: #fff;
  padding-left: 10%;
}

.text-overlay {
  width: 50%;
  box-sizing: border-box;
  text-align: left;
}

.text-overlay h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin: 0;
}

.text-overlay p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #fff;
  margin-top: 10px;
}

.read-more-button {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
  margin-top: 20px;
}

.read-more-button:hover {
  color: antiquewhite;
  transition: all 0.3s ease;
}

#best-sellers-section {
  background-color: white;
  padding: 40px 0;
  text-align: center;
}

#best-sellers-section h3 {
  font-size: 38px;
  text-align: left;
  margin-left: 150px;
  font-weight: 700;
  margin-bottom: 50px;
}

.product-container {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.product {
  width: 300px;
  height: 600px;
  padding: 20px;
  background-color: rgb(234, 233, 233);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.product img {
  width: 200px;
}

.product .product-details {
  padding: 10px;
}

.product .product-details p {
  font-size: 18px;
  font-weight: 600;
  color: black;
  margin-top: 20px;
}

.product .product-details input[type="number"] {
  width: 60px;
  padding: 8px;
  font-size: 16px;
  border: 2px solid #26B24D;
  border-radius: 5px;
  margin-top: 10px;
}

.product .product-details button {
  display: flex;
  width: 174px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background: #26B24D;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 10px auto;
}

.product .product-details button:hover {
  background-color: #3fd169;
}

.shop-all-button {
  margin-top: 50px;
}

.shop-all-button a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #26B24D;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 22px;
  transition: background-color 0.3s ease;
}

.shop-all-button a:hover {
  background-color: #3fd169;
}


footer {
  background-color: #3D5A98;
  height: 300px;
  padding: 16px 0;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.footer-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-main::before {
  content: "";
  border-top: 1px solid #FFF;
  margin: 20px 0;
  display: block;
}


.footer-main p {
  margin: 10px 0;
  flex: 1; 
}


.left-column {
  flex: 1;
  margin-left: 100px; 
}

.right-column {
  flex: 1; 
  margin-left: 100px;
}

.footer-nav ul {
  list-style: none;
  padding: 0;
}

.footer-nav li {
  margin-bottom: 10px;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.footer-nav a {
  text-decoration: none;
  margin-right: 25px;
  color: #FFF;
  flex-basis: 45%;
}

.subscribe {
  width: 431px; 
  height: 94px; 
  margin-left: 100px;
  flex-shrink: 0;
}

.subscribe p {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #fff;
  margin-top: 56px;
  margin-bottom: 20px;
}

.subscription-form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.subscription-form input {
  width: 70%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid white;
  border-radius: 20px; 
  background-color: transparent;
  color: #fff;
}

.subscribe-button {
  width: 30%;
  padding: 10px;
  background-color: #FD5;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 20px; 
}

.subscribe-button:hover {
  opacity: 0.9;
  transition: all 0.3s ease;
}

.copyright {
  margin-top: 80px;
  margin-left: 100px;
}


.service {
text-align: center;
display: flex;
justify-content: center;
align-items: center;
}

.content {
display: flex;
align-items: center;
}

.service img {
max-width: 100%;
height: auto;
margin-right: 20px; 
}

.text-container {
flex: 1;
}

.my-contain {
max-width: 100%;
margin: 0 auto; 
}

.nav-item:hover {
  color: #5BB079; 
  font-weight: 600;
}

.about-button:hover,
.footer-button:hover,
.services-button:hover,
.contact-button:hover,
.cta-btn:hover {
background-color: var(--primary); 
color: #FFF; 
}

/* Catalog.html */

#catalog-section{
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('images/coffeenew1.jpg');
  color: white;
}

#catalog-overlay{
  display: flex; 
  flex-direction: column;
  gap: 15px;
  margin: 0 200px;
}

#catalog-overlay h2{
  font-size: 50px;
}

#catalog-overlay p{
  font-size: 18px;
}

.allblend-container {
  display: flex;
  flex-direction: column;
  gap: 70px;
  margin-bottom: 70px;
}

h3{
  margin-top: 70px;
  margin-left: 75px;
  font-size: 38px;
}

.darkblend-container, .mediumblend-container, .lightblend-container {
  display: flex;
  justify-content: space-evenly;
}

.darkblend, .mediumblend, .lightblend{
  width: 300px;
  height: 600px;
  padding: 20px;
  background-color: rgb(234, 233, 233);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.allblend-container img{
  width: 200px;
}

.allblend-container p{
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
}

.allblend-container .product-details input[type="number"] {
  width: 60px;
  padding: 8px;
  font-size: 16px;
  border: 2px solid #26B24D;
  border-radius: 5px;
  margin-top: 10px;
}

.allblend-container .product-details button {
  display: flex;
  width: 174px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background: #26B24D;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 10px auto;
}

.allblend-container .product-details button:hover {
  background-color: #3fd169;
}

/* brewguide.html */

#brewguide-section{
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/brewguidebanner.jpeg');
  color: white;
}

.brewguide-overlay{
  display: flex; 
  flex-direction: column;
  gap: 15px;
  margin: 0 200px;
}

.brewguide-overlay h2{
  font-size: 50px;
}

.brewguide-overlay p{
  font-size: 18px;
}

.brewtype{
  display: flex;
}

.brewtype-details{
  flex: 2;
  padding: 80px;
  line-height: 30px;
}

.brewtype-details h3{
  margin-left: -30px;
  margin-bottom: 30px;
}

.brewtype-details p{
  margin-left: -30px;
  margin-top: 10px;
}

.brewtype-img{
  flex: 1;
  max-width: 100%;
  height: auto;
  padding: 80px; 
}

#menu-button {
  display: none; 
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  position: relative;
  z-index: 1000;
}

#menu-button .bar {
  width: 30px;
  height: 3px;
  background: var(--primary-font-color);
  margin: 6px 0;
  transition: 0.4s;
}

#myNav-list {
  display: flex;
}

/* subscription.html */

#subscription-section {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    text-align: center;
    color: white;
  }

  #subscription-overlay {
    display: flex; 
    flex-direction: column;
    gap: 15px;
    margin: 0 200px;
  }

  #subscription-overlay h2 {
    font-size: 50px;
  }
  
  #subscription-overlay p {
    font-size: 18px;
  }

  .sub-cap {
    margin-left: 50px;
    margin-right: 50px;
  }

  .subscribe-first{
    display: flex;
    margin-top: 30px;
    padding: 40px;
  }

  .why-subscription-blurb {
    flex: 2;
    padding: 0 30px;
  }

  .why-subscription-blurb h3{
    margin-left: -10px;
    margin-bottom: 30px;
  }

  .why-subscription-blurb p{
    margin-right: 150px;
  }

  .why-sub-text {
    font-size: 20px;
    color: black;
    line-height: 150%;
    margin-bottom: 10px;
  }

  .sub-img {
    flex: 1;
    max-height: 400px;
    max-width: 400px;
  }

  .plan-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 150px;
  }

  .plan {
    width: 400px;
    height: 600px;
    padding: 40px;
    background-color: rgb(234, 233, 233);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
  }

  .plan-text-h {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    justify-content: center;
    margin-left: -20px;
    margin-top: 20px;
    font-weight: bold;

  }

  .plan-list{
    margin-left: 15px;
    font-size: 16px;
    line-height: 1.5;
  }

  .plan-price {
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
  }

  h4 {
    margin-top: 40px;
    margin-left: 45px;
    color: #000;
    font-family: Montserrat;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 51px */
  }

  h5 {
    color: #26B24D;
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 48px */
  }

  .plan button {
    display: flex;
    width: 174px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background: #26B24D;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 10px auto;
  }

  h3{
    margin-top: 70px;
    margin-left: 75px;
    font-size: 38px;
  }

  /* Mobile-friendly css */

@media screen and (max-width: 600px) {
  .about-img {
    width: 30%;
  }

  #menu-button {
    display: block;
  }

  #myNav-list {
    display: none;
  }

  #menu-button.active + #myNav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  #about {
    display: block;
    text-align: center;
    padding: 2rem;
  }

  .coffee-bag {
    width: 50%;
    height: 50%;
    margin: 0;
  }

  .about-text {
    text-align: center;
  }

  .about-buttons-row {
    justify-content: center;
  }

  #background-section {
    background-position: 0;
    padding-left: 0;
    padding: 2rem;
  }

  .text-overlay {
    width: 100%;
  }

  #best-sellers-section {
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 0;
  }

  #best-sellers-section h3 {
    margin-left: 0;
    text-align: center;
  }

  .product-container {
    display: block;
    margin-left: 6.5rem;
  }

  .product {
    margin-bottom: 2rem;
  }

  footer {
    height: 100%;
    padding: 0;
  }

  .footer-main {
    display: block;
    text-align: center;
  }

  .left-column {
    display: block;
    margin: 2rem;
  }

  .footer-main::before {
    display: none;
  }

  .subscribe {
    display: contents;
    margin-left: 0;
  }

  .subscribe p {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .subscription-form {
    display: block;
    align-items: center;
    justify-content: center;
  }

  .copyright {
    margin: 0;
    margin-top: 2rem;
  }

  .right-column {
    margin: 0;
  }

  .footer-nav a {
    margin: 0;
  }

  .subscribe-button {
    margin-top: 10px;
  }

  .darkblend-container, .mediumblend-container, .lightblend-container {
    display: contents;
  }

  .allblend-container {
    gap: 0;
  }

  .darkblend, .mediumblend, .lightblend {
    margin-left: 4.5rem;
    margin-bottom: 2.5rem;
  }

  .allblend-container h3 {
    font-size: 30px;
    margin-bottom: 2rem;
  }

  #beans-subscribe {
    display: contents;
    text-align: center;
  }

  .sub-img {
    width: 0;
    margin-right: 0;
  }

  .why-subscription-blurb {
    margin-right: 10px;
  }


  .brewguide-overlay {
    padding: 30px;
  }
}
